.App {
  text-align: center;
}

div {
  width: 600px;
  background-color: #282c34;
  text-align: center;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
  margin-bottom: 5px;
} 

a{
  size: 100px;
  color:white;
}

button{
  /*position: absolute;*/
    top: 0;

    width: 9em;
    background-color: #1e13e9;
    box-shadow: 1px 2px 2px #01011f;

    padding: 0.2em;
    margin: 0.5em;

    border-radius: 1em;

    display: flex;
    align-items: stretch;
    justify-content: center;

    font-size: 1em;
    color: #EDFFEC;
    cursor: pointer;

    transition: 1s;
}

input{
  top: 0;

    width: 8em;
    background-color: #1e13e9;
    box-shadow: 1px 2px 2px #01011f;

    padding: 0.2em;
    margin: 0.5em;

    border-radius: 1em;

    display: flex;
    align-items: stretch;
    justify-content: center;

    font-size: 1em;
    padding-left: 10px;
    color: #EDFFEC;
    cursor: pointer;

}

div > p{
  width: 400px;
  height: auto;
  padding-top: 1px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  animation:autoscroll 1000s linear;
}